<h1><%= @user.username %></h1>
<br />
<br />
<h3>Recent Reviews:
  <br />
   <br />
</h3>
<h5>
  <% if @reviews.blank? %>
    <h3>No reviews just yet</h3>
  <% else %>
    <div class="example">
      <% @reviews.each do |review| %>
        <div class="reviews">
          <p><img width=40% style="float:right" class="expand" src="<%=review.image%>" alt="" /></p>
          <div class="img-full-container">
            <img src="">
            <div class="close">Click To Close</div>
          </div>
          <h4><%= link_to city_path(review.city.id) do %>
              <%= review.city.city_name %>, <% if review.city.state_name.present? %><%=review.city.state_name%>, <%end%><%= review.city.country_name %>
            <%end%>
          </h4>
          <div class="star-rating" data-score= <%= review.rating %> ></div>
          <h3> <%= review.title %> </h3>
          <p><%= review.comment %></p>
          <%if review.user == current_user%>
          <h4><%= link_to "Edit review", edit_city_review_path(review.city_id, review)%>
          <danger><h4><%= link_to "Delete review", city_review_path(review.city_id, review), method: :delete %></h4></danger></h4>
          <% end %>
          <br />
        </div>
      <% end %>
    </div>
  <% end %>
</h5>
<p>
  <% if user_signed_in?%>
    <% if @user.username == current_user.username %>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
    <% end %>
  <%end%>
  <br />
</p>
<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
  }
  	  });
</script>
