  <h1><% if @search.present? %><% if @cities.present? %>Search results for <%=@search%><% else %>No results for <%=@search%><%end%><% else %>Here are all cities currently in our database<% end %></h1>
  <% @cities.each do |city| %>
    <ul>
        <li><% if city.state_name.present? %> 
            <%= link_to city.city_name+', '+city.state_name+', '+city.country_name, city_path(city.id)%>  
        <%else%>
            <%= link_to city.city_name+', '+city.country_name, city_path(city.id)%>
        <%end%>
      </li>
    </ul>
  <% end %>
  <h3><% if @search.present? %>Don't see the city you're looking for?<% end %></h3>
  <h4><%= link_to image_tag("PlusSign.png")+"Add new city", new_path()%></h4>