<h1>Editing your review for:<br /><%=@city.city_name%>, <%if @city.state_name != nil %><%=@city.state_name%>, <% end %><%=@city.country_name%></h1>
<% if @review.user_id == current_user.id %>
<%= render 'form', review: @review %>
<% else %>
<br />
<h1>You don't have permission to edit this review!</h1>
<h3>Are you sure you're logged in as the correct user?</h3>
<% end %>

<%= link_to 'Back', city_path(@city) %>
