<% if @find.blank? %>
    <h1>New review for:<br /><%=@city.city_name%>, <%if @city.state_name != nil %><%=@city.state_name%>, <% end %><%=@city.country_name%>:</h1>
  <%= render 'form', review: @review %>
<% else %>
  <h3> You already wrote a review for this city, would you like to edit it?</h3>
  <%= render 'form', review: @find %>
<% end %>
<%= link_to 'Back', city_path(@city) %>
